{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" id="profile">
  
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
         <div class="col-md-9">
            <img src="{{profile.profile_photo.url}}" alt=""height="300px"  class="responsive"width="100%" style="border-radius: 50%;">
            <p><b>{{profile.first_name}}   {{profile.last_name}}</b></p>
             <p>{{profile.bio}}</p>
              <div class="pffollowes">
                <div class="posts">
                   <p><b>40</b></p>
                   <p>Posts</p>
                </div>
                <div class="followers">
                  <p><b>40</b></p>
                  <p>Followers</p>
                </div>
                <div class="following">
                  <p><b>40</b></p>
                  <p>Following</p>
                </div>

              </div>
            <a type="button" href="/user/updateprofile" class="btn btn-primary" style="margin-top: 10px;">Update Profile</a>
      </div>
     
        <!-- <a type="button" href="/user/addimage" class="btn btn-primary"><i class="bi bi-heart-fill"></i>  Add image</a> -->
      
    </div>
        <div class="row" id="posts">
          <p><b> YOUR POSTS</b></p>
          {%for post in user.posts.all%}
          <div class="col-md-6">
            <img src="{{post.image.url}}" alt="" width="100%" height="200px">
          </div>
          {%endfor%}
          <div class="col-md-6"></div>
        </div>
  </div>
{%endblock%}