{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" id="profile">
  
    <div class="row">
         <div class="col-md-4">
            <img src="{{profile.profile_photo.url}}" alt=""height="300px"  class="responsive"width="100%">

            <a type="button" href="/user/updateprofile" class="btn btn-primary" style="margin-top: 10px;">Update Profile</a>
      </div>
      <div class="col-md-4">
        <a type="button" href="/user/addimage" class="btn btn-primary"><i class="bi bi-heart-fill"></i>  Add image</a>
      </div>
    </div>
        <div class="row">
          <p><b> YOUR POSTS</b></p>
          {%for post in user.posts.all%}
          <div class="col-md-6">
            <img src="{{post.image.url}}" alt="" width="100%" height="100px">
          </div>
          {%endfor%}
          <div class="col-md-6"></div>
        </div>
  </div>
{%endblock%}