{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container-fluid" id="profile">
  
    <div class="row">
         
         
          <div class="col-md-4">
            
              
              <img src="{{profile.profile_photo.url}}" alt=""height="300px" width="100%">

             
              
      
              <a type="button" href="/user/updateprofile" class="btn btn-primary"><i class="bi bi-heart-fill"></i>Update Profile</a>
      </div>
      <div class="col-md-4">
        <a type="button" href="/user/addimage" class="btn btn-primary"><i class="bi bi-heart-fill"></i>  Add image</a>
      </div>
      {%for post in user.posts%}
      <div class="col-md-4">
        <p><b>POSTS</b></p>
        <img src="{{post.image.url}}" alt="">
      </div>
      </div>
      
</div>
{%endblock%}