{%extends 'base.html'%}
{% block content %}
{{block.super}}
<body>
  
        <div class="container-fluid">
         
            <!-- display default password and username -->
            <div class="row">
                {% for image in images %}
                <!-- Gallery Photo item start -->
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="card mb-4">
                      <div class="d-flex justify-content-start m-2">
                          <div>
                              
                            <img src="{{image.user.profile.profile_photo.url}}" height="50px" width="80%"class="user-avatar">
                              
                          </div>
                          <div class="text-center mt-1">
                              
                                  <h6><small>{{ image.user.username }} </small></h6>
                              
                          </div>
                      </div>
                      <img src="{{ image.image.url }}" class="card-img-top" alt="News Image">
                      <div class="card-body">
                          <small>
                              <div class="d-flex justify-content-start">
                                  <div>
                                      <p>
                                          <a href=""> <i class="far fa-heart"></i></a>
                                      </p>
                                  </div>
                                  <div>
                                      <p>
                                          <a href=""> <i class="far fa-comment"></i></a>
                                      </p>
                                  </div>
                              </div>
                          </small>
            </div>
            </div>
          </div>
          {%endfor%}
        </div>
        </div>
{%endblock%}







<img src="{{image.user.profile.profile_photo.url}}" height="50px" width="30%"class="user-avatar">













                