<nav class="navbar navbar-expand-lg  bg-light navbar-light">
    <a class="navbar-brand" href="/">Instagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <div class="col-sm-4 col-md-4 ">
          <form class="navbar-form" role="search" method="" action="" >
            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search  By Category" name="name">
              <div class="input-group-btn">
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
        <!-- search form end -->
       
          {% if user.is_authenticated %}
          <ul>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
                        <span class="caret"></span>
                    </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="">Home</a>
                </li>
                <li>
                  <a href="/accounts/password/change">Change Password</a>
                </li>
                <li>
                  <a href="/user">Profile</a>
                </li>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
          {% else %}
          <li>
            <a class='btn btn-default' href="/accounts/login">Login</a>
          </li>
  
          {% endif %}
       
    </div>
    
</nav>